name: Test All
on: [pull_request]
jobs:
  test-all:
    runs-on: ${{matrix.OS}}
    strategy:
      fail-fast: false
      matrix:
        OS: [ubuntu-22.04, windows-2022]
        scala: [2.12.17, 2.13.10, 3.2.1]
    steps:
      - uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v13
      - name: Set env Linux
        if: ${{ startsWith(matrix.OS, 'ubuntu') }}
        run: |
          export LLVM_BIN=$(dirname $(readlink -f /usr/bin/clang))
          echo "LLVM_BIN=${LLVM_BIN}" >> $GITHUB_ENV

      - name: Set env Windows
        if: ${{ startsWith(matrix.OS, 'windows') }}
        shell: pwsh
        run: |
          Choco-Install -PackageName llvm -ArgumentList "--version=16.0.6", "--allow-downgrade", "--force"
          echo "${env:ProgramFiles}\LLVM\bin" | Out-File -FilePath ${env:GITHUB_PATH} -Encoding utf8 -Append
          echo "LLVM_BIN=${env:ProgramFiles}\LLVM\bin" >> ${env:GITHUB_OUTPUT}

      - name: Assert clang installed and on path
        run: |
          echo "LLVM_BIN=${env:LLVM_BIN}""
          clang --version

      - name: Test
        run: >
          sbt 'set cli/scalaVersion := "${{matrix.scala}}"'
          +cli/test
          +cliScriptedTests/scripted
        shell: bash
